.main.country_page {
    max-width: 1440px;
    padding: 0px 80px;
    flex-grow: 1;
    color: var(--color-text);
}

.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
    height: 40px;
    width: fit-content;
    gap: 10px;
    background-color: var(--color-bg-elements);
    font-family: inherit;
    color: var(--color-text);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 50px 0px;
}

.country_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.country_info .flag {
    height: auto;
    max-width: 45%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
}

.info_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    width: 50%;
}

.info_section .name {
    font-size: 1.6rem;
    margin-bottom: 30px;
    grid-column: 1 / 3;
}

.info_section .info_item {
    font-size: 0.9rem;
    font-weight: 500;
}

.info_section .info_item span {
    font-weight: 400;
    color: var(--color-text-light);
    margin-left: 8px;
}

.info_section .info_item.capital {
    margin-bottom: 30px;
}

.info_section .info_left,
.info_section .info_right {
    margin-bottom: 30px;
}

.info_section .border {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    height: 60px;
}

.info_section .border_item {
    font-size: 0.8rem;
    background-color: var(--color-bg-elements);
    padding: 5px 8px;
    margin-left: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);
}

.border p {
    width: 140px;
    font-weight: 500;
}