.container_filter {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.container_filter input {
    background-color: var(--color-bg-elements);
    height: 40px;
    padding-left: 50px;
    padding-right: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: var(--color-text);
}

form {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}

.container_filter input::placeholder {
    color: var(--color-text-light);
}

.container_filter input:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background-image: url('./assets/magnifying-glass-solid.svg') center / contain no-repeat;
    color: var(--color-text-light);
}

#search_button {
    position: absolute;
    border: none;
    background: none;
    color: var(--color-text-light);
    font-family: inherit;
    left: 75px;
    top: 9px;
}

.container_filter select {
    background-color: var(--color-bg-elements);
    height: 40px;
    font-family: inherit;
    color: var(--color-text);
    padding-left: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
}